## Exploratory Data Analysis

In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px

ModuleNotFoundError: No module named 'matplotlib'

### Import Data
Read the CSV file that you created in the last notebook ("../small-data/mexico-real-estate-clean.csv") into a DataFrame named df

In [3]:
# Import "data/mexico-real-estate-clean.csv"
df = pd.read_csv("data/mexico-real-estate-clean.csv")

# Print object type, shape, and head
print("df type:", type(df))
print("df shape:", df.shape)
df.head()

df type: <class 'pandas.core.frame.DataFrame'>
df shape: (1736, 8)

,Unnamed: 0.1,Unnamed: 0,property_type,state,lat,lon,area_m2,price_usd
0,0,1,house,Estado de México,19.560181,-99.233528,150,67965.56
1,1,2,house,Nuevo León,25.688436,-100.198807,186,63223.78
2,2,3,apartment,Guerrero,16.767704,-99.764383,82,84298.37
3,3,4,apartment,Guerrero,16.829782,-99.911012,150,94308.80
4,5,6,house,Yucatán,21.052583,-89.538639,205,105191.37

### MapBox Plot
Add "lat" and "lon" to the code below, and run the code. You'll see a map that's centered on Mexico City, and you can use the "Zoom Out" button in the upper-right corner of the map so that you can see the whole country.

In [4]:
# Use plotly express to create figure
fig = px.scatter_mapbox(
    df,
    lat = "lat",
    lon = "lon",
    center={"lat":19.43,"lon":-99.13},
    width=600,
    height=600,
    hover_data=["price_usd"]

)
fig.update_layout(mapbox_style="open-street-map")
fig.show()

NameError: name 'px' is not defined